<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindnessChain</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/chain">Chain</a>
            <a href="/quotes">Quotes</a>
            <a href="/streak">Streak</a>
        </div>
    </nav>

    <div class="counters">
        <div class="counter-box", style="position: absolute; top: 335px; left: 415px;">
            <span class="counter-num", style="font-size: 50px;">{{ total_acts }}</span>
        </div>
        <div class="counter-box", style="position: absolute; top: 335px; left: 765px;">
            <span class="counter-num", style="font-size: 50px;">{{ total_quotes }}</span>
        </div>
        <div class="counter-box", style="position: absolute; top: 335px; left: 1105px;">
            <span class="counter-num", style="font-size: 50px;">{{ active_players }}</span>
        </div>
    </div>

</body>
</html>